/*-- scss:defaults --*/
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@700&family=Lexend&display=swap');

// font
$font-family-sans-serif: "Lexend";
$font-family-monospace: "Fira Mono";
$presentation-font-size-root: 35px;
$presentation-font-smaller: 0.5;
$light-bg-text-color: #737373 !default;

// Bottom margin
$border-color: #1bca51;
$presentation-block-margin: 30px;

/*-- scss:rules --*/
